<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catálogo de Produtos</title>
</head>
<body>
    <h1>Catálogo de Produtos</h1>
    
    <div th:each="produto : ${produtos}">
        <div>
            <h2 th:text="${produto.nomeProduto}"></h2>
            <p th:text="${produto.descricao}"></p>
            <p th:text="${produto.valor}"></p>
            <!-- Adicione outras informações do produto conforme necessário -->
        </div>
    </div>
</body>
</html>